section.todo {
    display: flex;
    min-height: 100vh;
    padding: 0;
    width: 100%;
    .side-panel {
        background-color: $white-clr;
        width: 15%;
    }
    .middle-panel {
        background-color: $black-clr;
        background: radial-gradient(#8a96b9, #00ffd0);
        width: 85%;
    }
}

.sec-title {
    font-size: ((50 / 100) * $font-size);
    font-weight: 400;
    margin: 1% 0;
}
.side-panel {
    color: $black-clr;
    position: relative;
    input {
        background-color: transparent;
        color: $black-clr;
        font-size: 0.8em;
    }
    ul {
        padding: 0;
        text-align: center;
    }
    .sec-title {
        margin: 0;
        padding: 2% 10%;
    }
    .list-container {
        margin: 2px;
        padding: 0 10%;
        margin-top: 27px;
    }
    .panel-bottom {
        position: absolute;
        right: 0;
    }
}

.panel-bottom {
    button {
        background-color: transparent;
        border: none;
        .fa {
            color: $black-clr;
            font-size: 2em;
        }
    }
}

.middle-panel {
    .sec-title {
        color: $white-clr;
        margin: 0;
        text-align: center;
    }
}

.sub-task-container {
    height: 100%;
    margin: 2%;
    width: 96%;
    .sub-task-card {
        background-color: $subtask-card;
        border-radius: 5px;
        height: 50px;
        margin-top: 2%;
        position: relative;
        &:hover {
            background-color: $subtask-card-hover;
        }
    }
    input[type="checkbox"] {
        position: absolute;
        margin: 4%;
        margin-top: 20px;
        width: inherit;
    }
    label {
        font-size: 1.3em;
        line-height: 50px;
        padding-left: 10%;
    }
    [class^="action-icon-"] {
        display: none;
        line-height: 50px;
        position: absolute;
        right: 0;
        width: 15%;
        .fa {
            margin: 10%;
        }
        .fa-close:hover {
            color: $subtask-card-remove;
            cursor: pointer;
        }
        .fa-check:hover {
            color: $subtask-card-done;
            cursor: pointer;
        }
    }
    .panel-bottom {
        input {
            background-color: transparent;
            color: $white-clr;
            display: block;
            float: left;
            margin-right: 5px;
            width: 95%;
            &:focus {
                border-bottom: 2px solid #ffffff;
            }
        }
        button {
            .fa {
                color: $white-clr;
            }
        }
    }
}

.comment-item {
    position: relative;
    p {
        display: inline-block;
    }
}

.created-at {
    bottom: 0;
    font-size: 0.7em;
    position: absolute;
    right: 5px;
}

.middle-panel-container {
    margin-top: 3%;
}

.description-container {
    border-radius: 5px;
    background-color: $white-clr;
    float: left;
    padding: 1%;
    width: 18%;
    textarea {
        background-color: transparent;
    }
    .panel-bottom {
        margin-top: 20px;
        input {
            background-color: transparent;
            width: 84%;
        }
        button {
            float: right;
        }
    }
}