//Common variable declarations

$font-family: 'Quicksand', sans-serif;
$font-size: 4em;
$font-color: #3e3e3e;
$primary-bg-clr: #f0f1f1;
$dark-primary-bg-clr: #b7b7b7;
$secondary-bg-clr: #ffffff;
$indicator-bg-clr: #06cc06;
$indicator-border-clr: #90ee90;