.acheivements {
	text-align: center;
}
.companies {
	text-align: center;
	.col-div {
		width: 16.66%;
	}
	img {
		height: 80%;
		width: 80%;
	}
}
.contact {
	text-align: center;
	.col-div {
		width: 33.33%;
	}
	.row {
		margin: 5% 0;
	}
	.fa {
		color: $indicator-bg-clr;
	}
}
.floater {
	a {
		background-color: $indicator-bg-clr;
		color: #000;
		display: block;
		position: fixed;
		right: 1%;
		bottom: 2%;
		width: 10%;
		height: 40px;
		border-radius: 25px;
		text-decoration: none;
		text-align: center;
		line-height: 40px;
		border: 10px solid $indicator-border-clr;
	}
}
.flow-chart {
	margin: 2% 0;
	position: relative;
	text-align: center;
	.flow-chart-container {
		display: inline-block;
		position: relative;
		width: 100%;
		&:before {
			background-color: $indicator-bg-clr;
		    content: '';
		    display: block;
		    height: 100%;
		    left: calc(50% - 1px);
		    position: absolute;
		    width: 2px;
		    z-index: 1;
		}
	}
	&:before, &:after {
		@include indicator(10px);
		display: block;
	    left: calc(50% - 10px);
	    margin: 0;
	    position: absolute;
	    top: 98%;
	}
	&:before {
	    top: -2%;
	}
}
.flow-chart-content {
	display: inline-block;
	position: relative;
	width: 100%;
	&:before {
		@include indicator(8px);
		display: block;
	    margin: 0;
	    left: calc(50% - 8px);
	    position: absolute;
	    top: 5px;
	}
	&:first-child {
		margin-top: 5%;
	}
	&:last-child {
		margin-bottom: 5%;
	}
}
.flow-left, .flow-right {
	float: left;
	margin: 0 -3%;
	text-align: right;
	width: 50%;
}
.flow-right {
	float: right;
	text-align: left;
}
.graph {
	h2 {
		text-align: center;
		padding-bottom: 2%;
	}
	.container {
		padding: 2% 0;
	}
}
.portfolio {
	display: inline-block;
	width: 100%;
	ul {
    	padding: 0;
    	text-align: center;
	}
	li {
		display: inline-block;
		padding: 0 2px;
		position: relative;
		&.active:before, &.active:after {
			background-color: $indicator-bg-clr;
			content: '';
			display: inline-block;
			height: 1px;
			left: 0;
			position: absolute;
			top: 100%;
			width: 60%;
		}
		&.active:after {
			margin-top: 5px;
			width: 100%;
		}

	}
	.row {
		padding: 5% 0;
	}
	.col-div {
		padding-bottom: 5%;
		text-align: center;
		width: 33.33%;
		div {
			margin: 0 5%;
		}
		img {
			box-shadow: 5px 5px 5px -5px $dark-primary-bg-clr;
			height: auto;
			width: 100%;
		}
	}
}
.services {
	text-align: center;
	h3 {
		font-size: ((30 / 100) * $font-size);
		font-weight: 200;
		margin: 1% 0;
	}
	.row {
		padding: 5% 0;
	}
	.services-content {
		margin: 0 2%;
	}
}
.skills {
	.row {
		text-align: center;
		.col-div {
			padding-bottom: 2%;
		}
	}
	.progress-bar, .progress-value-bar {
		background-color: $dark-primary-bg-clr;
		display: block;
		height: 3px;
		margin: 0 auto;
		width: 50%;
		.progress-value-bar {
			background-color: $indicator-bg-clr;
			margin: 0;
		}
	}
}
@media screen and (max-width: 1030px) {
	.header-body {
		h1 {
			font-size: $font-size / 1.25;
		}
		h3 {
			font-size: ((40 / 100) * $font-size / 1.25);
		}
		h4 {
			font-size: ((25 / 100) * $font-size / 1.25);
		}
	}
	.portfolio {
		.col-div {
			width: 50%;
		}
	}
	.services {
		h3 {
			font-size: ((30 / 100) * $font-size / 1.25); 
		}
	}
}
@media screen and (max-width: 790px) {
	.contact {
		.row {
			.col-div {
				width: 100%;
			}
		}
	}
	.header-body {
		h1 {
			font-size: $font-size / 1.5;
		}
		h3 {
			font-size: ((40 / 100) * $font-size / 1.5);
		}
		h4 {
			font-size: ((25 / 100) * $font-size / 1.5);
		}
	}
	.services {
		h3 {
			font-size: ((30 / 100) * $font-size / 1.5); 
		}
	}
	.flow-chart {
		&:after {
			@include indicator(5px);
		    left: calc(50% - 10px);
		}
		&:before {
			@include indicator(5px);
		    left: calc(50% - 10px);
		}
		.flow-chart-content {
			&:before {
				@include indicator(4px);
			    left: calc(50% - 9px);
			}
		}
	}
	.portfolio {
		.col-div {
			width: 50%;
		}
	}
}
@media screen and (max-width: 450px) {
	.header-body {
		h1 {
			font-size: $font-size / 1.75;
		}
		h3 {
			font-size: ((40 / 100) * $font-size / 1.75);
		}
		h4 {
			font-size: ((25 / 100) * $font-size / 1.75);
		}
	}
	.services {
		h3 {
			font-size: ((30 / 100) * $font-size / 1.75); 
		}
	}
}